<style>
  body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
  }

  head {
    font-family: 'Sintony', sans-serif;
    font-size: 24px;
  }

  p {
    font-family: sans-serif;
  }

  form {
    font-family: sans-serif;
    font-size: 16px;
  }

  label {
    display: block;
  }

  input[type="text"] {
    display: block;
    margin-bottom: 1em;
  }

  div {
    margin: 20px;
    margin-bottom: 25px;
  }

  div button {
    font-family: monospace;
    background-color: green;
    color: white;
  }

</style>
