
body {
  font-family: "Helvetica","Arial",sans-serif;
  color: rgb(0, 0, 0);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:visited {
  color: orange;
}

a:hover {
  color: pink;
}

a:active {
  color: lavender;
}

p {
  color: rgb(0, 0, 0);
  line-height: 1.15;
  font-size: 18px;
}

header h1 {
  font-family: "Arial", sans-serif;
  font-size: 35px;
  color: rgb(0, 0, 0);
  text-align: right;
}

header a {
  color: rgb(0, 0, 0);
}

header a:visited {
  color: rgb(0, 0, 0);
}

header a:hover {
  color: gray;
}

header p {
  text-align: right;
  line-height: 1.0;
  font-size: 14px;
}

h1 {
  font-family: "Arial", sans-serif;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

h2 {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

h3 {
  font-family: "Arial" , sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
